/* $Id: $ */
@charset "UTF-8";
/* CSS Document */

/*==================================RESPONSIVE LAYOUTS===============================================*/
@-webkit-viewport {
width:device-width
}
@-moz-viewport {
width:device-width
}
@-ms-viewport {
width:device-width
}
@-o-viewport {
width:device-width
}

/* Ipad (Live Themes) Start */

@media only screen and (min-width:1024px) {
	
body{
	min-width:800px;
	}
	
.topContainer{
	background-size:contain;
	background-position: center bottom;
	}
	
.btmContainer{
	background-size:contain;
	background-position: center top;
	}
	
.tempHeadBdr{
	background-size:contain;
	}
	
}


@media only screen and (max-width:558px) {

  .twoColumns.zfCusRadio .tempContDiv span.cusChoiceSpan {
        width: 45%;
}
}

@media only screen and (max-width:768px) {

.templateWidth{
	width:100%;
	margin-right:0; margin-left:0;
	}
	
.topContainer{
	background-size:contain;
	background-position: center bottom;
	}
	
.btmContainer{
	background-size:contain;
	background-position: center top;
	}
	
.tempHeadBdr{
	background-size:contain;
	}
	
.pmnt .cardOuterWrapper{ width:99%;}

.verification .captchaOuterWrapper{ width:auto;}


.address .tempContDiv span, .geolocation .tempContDiv span{ margin-right:0;}


.address .tempContDiv span.addtwo, .geolocation .tempContDiv span.addtwo{ 
	width:100%;
	}
		
.leftAlign .address .tempContDiv span.addtwo, .geolocation .tempContDiv span.addtwo{ 
	width:100%;
	}	
.rightAlign .address .tempContDiv span.addtwo, .geolocation .tempContDiv span.addtwo{ 
	width:100%;
	}	
	
	
	.subFormLabelDiv{ display:none !important;}
	.subFormHorizontal .tempFrmWrapper .tempContDiv{ width:100% !important;}
	.subFormHorizontal .tempContDiv span{ /*width:47%;*/}
	.tempSubfrmWrapper ul li{ float:none; display:block; }
	.subFormHorizontal li .labelName{ display:block !important;	}
	.tempSubfrmWrapper .subFormHorizontal .decesion.zfCusCheckbox .customCheckBox .labelName .checker {
         display: none !important;
	}
	.subfrmWrapper-horizontal .subformIcn{ display:none;}
	.subfrmWrapper-horizontal .subformIcn-vertical-li{ display:block;}
	
	.subFormHorizontal li{ padding:3px 20px;}
	/* background:#f9f9f9 removed from .subfrmWrapper-horizontal ul since background color is not viewed in themes thumbnail*/
    .subfrmWrapper-horizontal ul { display:inherit;padding:0;padding-bottom:10px; margin-bottom:30px; margin-top: 15px;} /* SNO */
	 .subfrmWrapper-horizontal ul:first-child{ margin-bottom:0;}
	 .subfrmWrapper-horizontal ul:last-child{ margin-bottom:0;}
	.subFormHorizontal li {padding: 3px 20px;}
	.subfrmWrapper-horizontal{ background:none; border:none;overflow-x:hidden !important;}
	.tempSubfrmWrapper {
		margin: 0 !important;
	}
	
	.subFormHorizontal li.decesion input[type="checkbox"]{ float:left; margin-top:4px;}
	
	/*.subFormHorizontal li.date .tempContDiv{ width:70% !important;}*/
	.subFormHorizontal .currency .tempContDiv input[type="text"]{ width:inherit !important;}
	.subFormHorizontal .date .tempContDiv input[type="text"]{ width:inherit !important;}
	
	.subfrmWrapper-horizontal ul.fileUplodBdrbot{ margin-bottom:0; padding-bottom:0;}
	.subfrmAdd_entryDiv{ background:#f9f9f9;}
	
	.sfLimtEntryWrap{ width:80%;}
	
	/* left align */
	/*.leftAlign .subFormHorizontal .tempFrmWrapper .tempContDiv{ margin-left:0;}
	.leftAlign .subFormHorizontal .tempFrmWrapper .labelName{ width:100%; float:none;}*/
	
	
	.subFormHorizontal .currency .tempContDiv .symbol{ float:none;}
	.rtlWrapper .subFormHorizontal .currency .tempContDiv .symbol{ float:none;}

	.saveEmailDiv1 input{ width:68%;}
	.emailsaveBtn{ width:22%;}
	
	.formulaUnitDv input[type="text"]{ width: 56% !important;}
	.subFormHorizontal  .formulaUnitDv input[type="text"]{ width: 100% !important;}

	.fieldUnitDv input[type="text"]{ width: 56% !important;}
	.subFormHorizontal  .fieldUnitDv input[type="text"]{ width: 100% !important;}
	
	/* subform uniqueness css start here */
	.sfuniqueError{ margin-left:0; padding:10px 20px;}
	
	
	/* subform SNO css start here */
	.subFormHorizontal .subformSeqSpace{ width: auto; right:0; position: absolute; top: -29px;}
	
	
	.tempSubfrmWrapper .decesion.zfCusCheckbox .customCheckBox .cusChoiceLabel {
    text-align: left !important;
    float: left !important;
	}
	.tempSubfrmWrapper .decesion.zfCusCheckbox .customCheckBox .advLabelName.cusChoiceLabel {
     text-align: left !important;
	}
	.tempSubfrmWrapper .decesion.zfCusCheckbox .cusChoiceSpanWrap {
    display: block;
    padding-left: 0.8em;
    line-height: 22px;
}
.tempSubfrmWrapper .subFormHorizontal .decesion.zfCusCheckbox.modelfive .customCheckBox .labelName::before {
         display: none !important;
	}
	.tempSubfrmWrapper .decesion.zfCusCheckbox.modelfive .customCheckBox input[type="checkbox"]:checked + .cusChoiceLabel:after {
		    top: 6px;
	}
	.tempSubfrmWrapper .decesion.zfCusCheckbox.modelfive .cusChoiceSpanWrap{
		    padding-left: 0.5em;
	}
	
	.subfrmTotalDiv{ display: none;}
	
}


@media only screen  and (min-width:650px) and (max-width:700px) {
.leftAlign .namesmall .twoType .salutationWrapper span, .rightAlign .namesmall .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namesmall .twoType .salutationWrapper .salutation, .rightAlign .namesmall .twoType .salutationWrapper .salutation{width:50%;} 
    
}

@media only screen  and (min-width:550px) and (max-width:650px) {
.topAlign .threeColumns .imgUploadType .imgChoiceWrapper{ width:30%;}
	
.leftAlign .namemedium .twoType .salutationWrapper span, .rightAlign .namemedium .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namemedium .twoType .salutationWrapper .salutation, .rightAlign .namemedium .twoType .salutationWrapper .salutation{width:50%;}
.leftAlign .namemedium .threeType .salutationWrapper span, .rightAlign .namemedium .threeType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namemedium .threeType .salutationWrapper .salutation, .rightAlign .namemedium .threeType .salutationWrapper .salutation{width:50%;}

.leftAlign .namesmall .twoType .salutationWrapper span, .rightAlign .namesmall .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namesmall .twoType .salutationWrapper .salutation, .rightAlign .namesmall .twoType .salutationWrapper .salutation{width:50%;}     
	
.formulaUnitDv input[type="text"]{ width: 66% !important;}		
.fieldUnitDv input[type="text"]{ width: 66% !important;}		

}

@media only screen  and (min-width:450px) and (max-width:550px) {

.popUpOuterSave{ 
	width: 94%;
	left: 3% !important;
}
.popUpOuterSave .popUpInner{ margin: 0 1%;}


.leftAlign .namesmall .oneType .salutationWrapper span, .rightAlign .namesmall .oneType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namesmall .oneType .salutationWrapper .salutation, .rightAlign .namesmall .oneType .salutationWrapper .salutation{width:50%;}
.leftAlign .namesmall .twoType .salutationWrapper span, .rightAlign .namesmall .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namesmall .twoType .salutationWrapper .salutation, .rightAlign .namesmall .twoType .salutationWrapper .salutation{width:50%;}
.leftAlign .namesmall .threeType .nameWrapper, .rightAlign .namesmall .threeType .nameWrapper{ overflow: hidden;}
.leftAlign .namesmall .threeType .nameWrapper span, .rightAlign .namesmall .threeType .nameWrapper span{width:100%;margin-left:0;} 
    
.leftAlign .namemedium .oneType .salutationWrapper span, .rightAlign .namemedium .oneType .salutationWrapper span{width:70%;margin-left:5%;}
.leftAlign .namemedium .oneType .salutationWrapper .salutation, .rightAlign .namemedium .oneType .salutationWrapper .salutation{width:25%;}

    
.leftAlign .namemedium .twoType .salutationWrapper span, .rightAlign .namemedium .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namemedium .twoType .salutationWrapper .salutation, .rightAlign .namemedium .twoType .salutationWrapper .salutation{width:50%;}
.leftAlign .namemedium .threeType .salutationWrapper span, .rightAlign .namemedium .threeType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namemedium .threeType .salutationWrapper .salutation, .rightAlign .namemedium .threeType .salutationWrapper .salutation{width:50%;}
    
    
.leftAlign .namelarge .twoType .salutationWrapper span, .rightAlign .namelarge .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namelarge .twoType .salutationWrapper .salutation, .rightAlign .namelarge .twoType .salutationWrapper .salutation{width:50%;}
.leftAlign .namelarge .threeType .salutationWrapper span, .rightAlign .namelarge .threeType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namelarge .threeType .salutationWrapper .salutation, .rightAlign .namelarge .threeType .salutationWrapper .salutation{width:50%;} 

.topAlign .namelarge .twoType .salutationWrapper span{width: 32%;}
.topAlign .namelarge .twoType .salutationWrapper .salutation{width: 32%;}
.topAlign .namelarge .twoType .salutationWrapper span{width: 32%;}
.topAlign .namelarge .twoType .salutationWrapper .salutation{width: 32%;}

.topAlign .namelarge .threeType .salutationWrapper span{width: 22%;margin-left:4%;}
.topAlign .namelarge .threeType .salutationWrapper .salutation{width:22%;}

.topAlign .namelarge .tempContDiv span:first-child {margin-left: 0;}
.leftAlign .namemedium .tempContDiv span:first-child, .rightAlign .namemedium .tempContDiv span:first-child {margin-left: 0;}
	
.uploadedCont .uploadFileTitle{ max-width: 50%;}
.leftAlign .sideBySide .imgUploadType .imgChoiceWrapper, .rightAlign .sideBySide .imgUploadType .imgChoiceWrapper{width:30%;}
	
/* sf popup */
.sfCardWrapper .sfSNumberCon{ width: 98%; margin-top: 0;}

.formulaUnitDv input[type="text"]{ width: 66% !important;}	
.fieldUnitDv input[type="text"]{ width: 66% !important;}	
}


@media only screen  and (min-width:350px) and (max-width:450px) {

.topAlign .sideBySide .imgUploadType .imgChoiceWrapper{ width:47%;}

.topAlign .threeColumns .imgUploadType .imgChoiceWrapper{ width:47%;}
.topAlign .threeColumns .imgUploadType .imgChoiceWrapper{ width:47%;}
.topAlign .oneColumns .imgUploadType .imgChoiceWrapper{ width:100%;}

.leftAlign .oneColumns .imgUploadType .imgChoiceWrapper, .rightAlign .oneColumns .imgUploadType .imgChoiceWrapper{ width:100%;}
.leftAlign .twoColumns .imgUploadType .imgChoiceWrapper, .rightAlign .twoColumns .imgUploadType .imgChoiceWrapper{width:46%;}
.leftAlign .threeColumns .imgUploadType .imgChoiceWrapper, .rightAlign .threeColumns .imgUploadType .imgChoiceWrapper{width:46%;}
.leftAlign .sideBySide .imgUploadType .imgChoiceWrapper, .rightAlign .sideBySide .imgUploadType .imgChoiceWrapper{width:46%;}

	
.popUpOuterSave{ 
	width: 94%;
	left: 3% !important;
}
.popUpOuterSave .popUpInner{ margin: 0 1%;}

.leftAlign .imgUploadFld .imgChoiceWrapper, .rightAlign .imgUploadFld .imgChoiceWrapper{ width:95%; padding:18px 2px;}
.leftAlign .imgUploadFld .imgChoiceWrapper:hover .attachDelete, .rightAlign .imgUploadFld .imgChoiceWrapper:hover .attachDelete{ right:2px;}
.leftAlign .imgUploadFld .imgChoiceWrapper:hover .zoomIcon, .rightAlign .imgUploadFld .imgChoiceWrapper:hover .zoomIcon{ left:2px;}

.leftAlign .namesmall .oneType .salutationWrapper span, .rightAlign .namesmall .oneType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namesmall .oneType .salutationWrapper .salutation, .rightAlign .namesmall .oneType .salutationWrapper .salutation{width:50%;}
.leftAlign .namesmall .twoType .salutationWrapper span, .rightAlign .namesmall .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namesmall .twoType .salutationWrapper .salutation, .rightAlign .namesmall .twoType .salutationWrapper .salutation{width:50%;}
.leftAlign .namesmall .threeType .nameWrapper, .rightAlign .namesmall .threeType .nameWrapper{ overflow: hidden;}
.leftAlign .namesmall .threeType .nameWrapper span, .rightAlign .namesmall .threeType .nameWrapper span{width:100%;margin-left:0;} 


.leftAlign .namemedium .oneType .salutationWrapper span, .rightAlign .namemedium .oneType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namemedium .oneType .salutationWrapper .salutation, .rightAlign .namemedium .oneType .salutationWrapper .salutation{width:50%;}     
.leftAlign .namemedium .twoType .salutationWrapper span, .rightAlign .namemedium .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namemedium .twoType .salutationWrapper .salutation, .rightAlign .namemedium .twoType .salutationWrapper .salutation{width:50%;}
.leftAlign .namemedium .threeType .salutationWrapper span, .rightAlign .namemedium .threeType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namemedium .threeType .salutationWrapper .salutation, .rightAlign .namemedium .threeType .salutationWrapper .salutation{width:50%;}     
    
.topAlign .namemedium .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.topAlign .namemedium .twoType .salutationWrapper .salutation{width:50%;}
.topAlign .namemedium .threeType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.topAlign .namemedium .threeType .salutationWrapper .salutation{width:50%;}    
    
    

.leftAlign .namelarge .oneType .salutationWrapper span, .rightAlign .namelarge .oneType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namelarge .oneType .salutationWrapper .salutation, .rightAlign .namelarge .oneType .salutationWrapper .salutation{width:50%;}
.leftAlign .namelarge .twoType .salutationWrapper span, .rightAlign .namelarge .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namelarge .twoType .salutationWrapper .salutation, .rightAlign .namelarge .twoType .salutationWrapper .salutation{width:50%;}
.leftAlign .namelarge .threeType .salutationWrapper span, .rightAlign .namelarge .threeType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namelarge .threeType .salutationWrapper .salutation, .rightAlign .namelarge .threeType .salutationWrapper .salutation{width:50%;} 

.topAlign .namesmall .oneType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.topAlign .namesmall .oneType .salutationWrapper .salutation{width:50%;}    
.topAlign .namesmall .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.topAlign .namesmall .twoType .salutationWrapper .salutation{width:50%;}
    
.topAlign .namelarge .twoType .salutationWrapper span{width: 32%;}
.topAlign .namelarge .twoType .salutationWrapper .salutation{width: 32%;}
.topAlign .namelarge .threeType .salutationWrapper span{width: 22%;margin-left:4%;}
.topAlign .namelarge .threeType .salutationWrapper .salutation{width:22%;}

.topAlign .namelarge .tempContDiv span:first-child, .topAlign .namemedium .tempContDiv span:first-child {margin-left: 0;}	
	
.uploadedCont .uploadFileTitle{ max-width:33%;}

.saveEmailDiv1 input{ width:58%;}
.emailsaveBtn{ width:30%;}	
	
/* sf popup */
.sfCardWrapper .sfSNumberCon{ width: 98%; margin-top: 0;}
	
.formulaUnitDv input[type="text"]{ width: 45% !important;}	
.fieldUnitDv input[type="text"]{ width: 45% !important;}	
	
}


	
@media only screen  and (min-width:300px) and (max-width:350px) {
	
.topAlign .oneColumns .imgUploadType .imgChoiceWrapper{ width:100%;}

.topAlign .twoColumns .imgUploadType .imgChoiceWrapper{ width:47%;}

.topAlign .threeColumns .imgUploadType .imgChoiceWrapper{ width:47%;}

.topAlign .sideBySide .imgUploadType .imgChoiceWrapper{ width:47%;}

.leftAlign .oneColumns .imgUploadType .imgChoiceWrapper, .rightAlign .oneColumns .imgUploadType .imgChoiceWrapper{ width:100%;}

.leftAlign .twoColumns .imgUploadType .imgChoiceWrapper, .rightAlign .twoColumns .imgUploadType .imgChoiceWrapper{ width:100%;}

	
.leftAlign .threeColumns .imgUploadType .imgChoiceWrapper, .rightAlign .threeColumns .imgUploadType .imgChoiceWrapper{ width:100%;}


.leftAlign .sideBySide .imgUploadType .imgChoiceWrapper, .rightAlign .sideBySide .imgUploadType .imgChoiceWrapper{ width:100%;}

	
.popUpOuterSave{ 
	width: 94%;
	left: 3% !important;
}
.popUpOuterSave .popUpInner{ margin: 0 1%;}
    
.topAlign .imgUploadFld .imgChoiceWrapper{ width:99% !important; padding:18px 2px;}
.topAlign .imgUploadFld .imgChoiceWrapper:hover .zoomIcon{ left:4px;}
.topAlign .imgUploadFld .imgChoiceWrapper:hover .attachDelete{ right:2px;}
.leftAlign .imgUploadFld .imgChoiceWrapper, .rightAlign .imgUploadFld .imgChoiceWrapper{ width:90%; padding:18px 0px;}
.leftAlign .imgUploadFld .imgChoiceWrapper:hover .attachDelete, .rightAlign .imgUploadFld .imgChoiceWrapper:hover .attachDelete{ right:2px;}  
.leftAlign .imgUploadFld .imgChoiceWrapper:hover .zoomIcon, .rightAlign .imgUploadFld .imgChoiceWrapper:hover .zoomIcon{ left:2px;}  

.leftAlign .namesmall .oneType .salutationWrapper span, .rightAlign .namesmall .oneType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namesmall .oneType .salutationWrapper .salutation, .rightAlign .namesmall .oneType .salutationWrapper .salutation{width:50%;}
.leftAlign .namesmall .twoType .salutationWrapper span, .rightAlign .namesmall .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namesmall .twoType .salutationWrapper .salutation, .rightAlign .namesmall .twoType .salutationWrapper .salutation{width:50%;}
.leftAlign .namesmall .twoType .nameWrapper, .rightAlign .namesmall .twoType .nameWrapper{ overflow: hidden;}
.leftAlign .namesmall .twoType .nameWrapper span, .rightAlign .namesmall .twoType .nameWrapper span{width:100%;margin-left:0;}     
.leftAlign .namesmall .threeType .nameWrapper, .rightAlign .namesmall .threeType .nameWrapper{ overflow: hidden;}
.leftAlign .namesmall .threeType .nameWrapper span, .rightAlign .namesmall .threeType .nameWrapper span{width:100%;margin-left:0;} 

.leftAlign .namemedium .oneType .salutationWrapper span, .rightAlign .namemedium .oneType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namemedium .oneType .salutationWrapper .salutation, .rightAlign .namemedium .oneType .salutationWrapper .salutation{width:50%;}     
.leftAlign .namemedium .twoType .salutationWrapper span, .rightAlign .namemedium .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namemedium .twoType .salutationWrapper .salutation, .rightAlign .namemedium .twoType .salutationWrapper .salutation{width:50%;}
.leftAlign .namemedium .threeType .salutationWrapper span, .rightAlign .namemedium .threeType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namemedium .threeType .salutationWrapper .salutation, .rightAlign .namemedium .threeType .salutationWrapper .salutation{width:50%;} 
    
.topAlign .namemedium .oneType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.topAlign .namemedium .oneType .salutationWrapper .salutation{width:50%;}    
.topAlign .namemedium .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.topAlign .namemedium .twoType .salutationWrapper .salutation{width:50%;}    
.topAlign .namemedium .threeType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.topAlign .namemedium .threeType .salutationWrapper .salutation{width:50%;}     

.leftAlign .namelarge .oneType .salutationWrapper span, .rightAlign .namelarge .oneType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namelarge .oneType .salutationWrapper .salutation, .rightAlign .namelarge .oneType .salutationWrapper .salutation{width:50%;}
    

.leftAlign .namelarge .twoType .nameWrapper span, .rightAlign .namelarge .twoType .nameWrapper span{width: 48%;margin-left: 3%;}
.leftAlign .namelarge .threeType .nameWrapper, .rightAlign .namelarge .threeType .nameWrapper{ overflow: hidden;}
.leftAlign .namelarge .threeType .nameWrapper span, .rightAlign .namelarge .threeType .nameWrapper span{width:100%;margin-left:0;}    
   
    
.leftAlign .namelarge .twoType .salutationWrapper span, .rightAlign .namelarge .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namelarge .twoType .salutationWrapper .salutation, .rightAlign .namelarge .twoType .salutationWrapper .salutation{width:50%;}

.leftAlign .namelarge .threeType .salutationWrapper span, .rightAlign .namelarge .threeType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namelarge .threeType .salutationWrapper .salutation, .rightAlign .namelarge .threeType .salutationWrapper .salutation{width:50%;}     
 
.topAlign .namesmall .oneType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.topAlign .namesmall .oneType .salutationWrapper .salutation{width:50%;}    
.topAlign .namesmall .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.topAlign .namesmall .twoType .salutationWrapper .salutation{width:50%;}   
    
    
.topAlign .namelarge .twoType .salutationWrapper span{width: 32%;}
.topAlign .namelarge .twoType .salutationWrapper .salutation{width: 32%;}
.topAlign .namelarge .threeType .salutationWrapper span{width: 22%;margin-left:4%;}
.topAlign .namelarge .threeType .salutationWrapper .salutation{width:22%;}
    
.topAlign .namesmall .threeType .nameWrapper span{ width: 100%; margin-left: 0; float: none;}
    

.topAlign .namelarge .tempContDiv span:first-child {margin-left: 0;}	

.uploadedCont .uploadFileTitle{ max-width: 23%;}

.saveEmailDiv1 input{ width:55%;}
.emailsaveBtn{ width:33%;}
	
/* sf popup */
.sfCardWrapper .sfSNumberCon{ width: 98%; margin-top: 0;}
	
	
	
.formulaUnitDv input[type="text"]{ width: 44% !important;}
.tempSubfrmWrapper .formulaUnitDv input[type="text"]{ width: 35% !important;}	

.fieldUnitDv input[type="text"]{ width: 44% !important;}
.tempSubfrmWrapper .fieldUnitDv input[type="text"]{ width: 35% !important;}	

}

	
@media only screen  and (min-width:250px) and (max-width:300px) {
	
.topAlign .oneColumns .imgUploadType .imgChoiceWrapper{ width:100%;}

.topAlign .twoColumns .imgUploadType .imgChoiceWrapper{ width:100%;}

.topAlign .threeColumns .imgUploadType .imgChoiceWrapper{ width:100%;}

.topAlign .sideBySide .imgUploadType .imgChoiceWrapper{ width:100%;}

.leftAlign .oneColumns .imgUploadType .imgChoiceWrapper, .rightAlign .oneColumns .imgUploadType .imgChoiceWrapper{ width:100%;}

.leftAlign .twoColumns .imgUploadType .imgChoiceWrapper, .rightAlign .twoColumns .imgUploadType .imgChoiceWrapper{ width:100%;}
	
.leftAlign .threeColumns .imgUploadType .imgChoiceWrapper, .rightAlign .threeColumns .imgUploadType .imgChoiceWrapper{ width:100%;}

.leftAlign .sideBySide .imgUploadType .imgChoiceWrapper, .rightAlign .sideBySide .imgUploadType .imgChoiceWrapper{ width:100%;}
	
.popUpOuterSave{ 
	width: 94%;
	left: 3% !important;
}
.popUpOuterSave .popUpInner{ margin: 0 1%;}
    
.topAlign .imgUploadFld .imgChoiceWrapper{ width:99% !important; padding:18px 2px;}
.topAlign .imgUploadFld .imgChoiceWrapper:hover .zoomIcon{ left:4px;}
.topAlign .imgUploadFld .imgChoiceWrapper:hover .attachDelete{ right:2px;}
.leftAlign .imgUploadFld .imgChoiceWrapper, .rightAlign .imgUploadFld .imgChoiceWrapper{ width:90%; padding:18px 0px;}
.leftAlign .imgUploadFld .imgChoiceWrapper:hover .attachDelete, .rightAlign .imgUploadFld .imgChoiceWrapper:hover .attachDelete{ right:2px;}  
.leftAlign .imgUploadFld .imgChoiceWrapper:hover .zoomIcon, .rightAlign .imgUploadFld .imgChoiceWrapper:hover .zoomIcon{ left:2px;}  

.leftAlign .namesmall .oneType .salutationWrapper span, .rightAlign .namesmall .oneType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namesmall .oneType .salutationWrapper .salutation, .rightAlign .namesmall .oneType .salutationWrapper .salutation{width:50%;}
.leftAlign .namesmall .twoType .salutationWrapper span, .rightAlign .namesmall .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namesmall .twoType .salutationWrapper .salutation, .rightAlign .namesmall .twoType .salutationWrapper .salutation{width:50%;}
.leftAlign .namesmall .twoType .nameWrapper, .rightAlign .namesmall .twoType .nameWrapper{ overflow: hidden;}
.leftAlign .namesmall .twoType .nameWrapper span, .rightAlign .namesmall .twoType .nameWrapper span{width:100%;margin-left:0;}     
.leftAlign .namesmall .threeType .nameWrapper, .rightAlign .namesmall .threeType .nameWrapper{ overflow: hidden;}
.leftAlign .namesmall .threeType .nameWrapper span, .rightAlign .namesmall .threeType .nameWrapper span{width:100%;margin-left:0;} 

.leftAlign .namelarge .twoType .nameWrapper span, .rightAlign .namelarge .twoType .nameWrapper span{width: 48%;}
.leftAlign .namelarge .threeType .nameWrapper, .rightAlign .namelarge .threeType .nameWrapper{ overflow: hidden}    
.leftAlign .namelarge .threeType .nameWrapper span, .rightAlign .namelarge .threeType .nameWrapper span{width:100%; margin-left: 0;}    
    
.leftAlign .namelarge .oneType .salutationWrapper span, .rightAlign .namelarge .oneType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namelarge .oneType .salutationWrapper .salutation, .rightAlign .namelarge .oneType .salutationWrapper .salutation{width:50%;} 
    
.leftAlign .namelarge .twoType .salutationWrapper span, .rightAlign .namelarge .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namelarge .twoType .salutationWrapper .salutation, .rightAlign .namelarge .twoType .salutationWrapper .salutation{width:50%;}

.leftAlign .namelarge .threeType .salutationWrapper span, .rightAlign .namelarge .threeType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namelarge .threeType .salutationWrapper .salutation, .rightAlign .namelarge .threeType .salutationWrapper .salutation{width:50%;}     


.leftAlign .namemedium .oneType .salutationWrapper span, .rightAlign .namemedium .oneType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namemedium .oneType .salutationWrapper .salutation, .rightAlign .namemedium .oneType .salutationWrapper .salutation{width:50%;}     
.leftAlign .namemedium .twoType .salutationWrapper span, .rightAlign .namemedium .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namemedium .twoType .salutationWrapper .salutation, .rightAlign .namemedium .twoType .salutationWrapper .salutation{width:50%;}
.leftAlign .namemedium .threeType .salutationWrapper span, .rightAlign .namemedium .threeType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.leftAlign .namemedium .threeType .salutationWrapper .salutation, .rightAlign .namemedium .threeType .salutationWrapper .salutation{width:50%;} 

.leftAlign .namemedium .twoType .nameWrapper span, .rightAlign .namemedium .twoType .nameWrapper span{width:100%; margin-left: 0;}
.leftAlign .namemedium .threeType .nameWrapper span, .rightAlign .namemedium .threeType .nameWrapper span{width:100%; margin-left: 0;} 
    

.topAlign .namemedium .oneType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.topAlign .namemedium .oneType .salutationWrapper .salutation{width:50%;}    
.topAlign .namemedium .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.topAlign .namemedium .twoType .salutationWrapper .salutation{width:50%;}    
.topAlign .namemedium .threeType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.topAlign .namemedium .threeType .salutationWrapper .salutation{width:50%;} 

.topAlign .namesmall .oneType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.topAlign .namesmall .oneType .salutationWrapper .salutation{width:50%;}    
.topAlign .namesmall .twoType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.topAlign .namesmall .twoType .salutationWrapper .salutation{width:50%;}

.topAlign .namesmall .threeType .nameWrapper span, .topAlign .namesmall .twoType .nameWrapper span{ width: 100%; margin-left: 0; float: none;}
    
    
.topAlign .namelarge .oneType .salutationWrapper span{width: 70%;margin-left: 5%;}
.topAlign .namelarge .oneType .salutationWrapper .salutation {width: 25%;}
.topAlign .namelarge .twoType .salutationWrapper span{width: 32%;}
.topAlign .namelarge .twoType .salutationWrapper .salutation{width: 32%;}
.topAlign .namelarge .threeType .salutationWrapper span{width: 100%;margin-left:0; float: none;}
.topAlign .namelarge .threeType .salutationWrapper .salutation{width:50%;}

.topAlign .namelarge .tempContDiv span:first-child {margin-left: 0;}	

.uploadedCont .uploadFileTitle{ max-width: 23%;}
	
	/* sf popup */
.sfCardWrapper .sfSNumberCon{ width: 98%; margin-top: 0;}

.formulaUnitDv input[type="text"]{ width: 38% !important;}
.tempSubfrmWrapper .formulaUnitDv input[type="text"]{ width: 30% !important;}

.fieldUnitDv input[type="text"]{ width: 38% !important;}
.tempSubfrmWrapper .fieldUnitDv input[type="text"]{ width: 30% !important;}

}	
	/* Form Review Live Start */
@media only screen and (max-width: 600px) {
.zfReviewWrap tr td{
	padding: 8px 14px;
}
.zfReviewWrap .imgfileUpload{
	width: 100%;
}
.zfReviewWrap .imgfileName {
    max-width: 65px;
}
.popGeneratePdf .encryptLoad_Txt{ font-size: 15px;}
}
